@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: black;
  }

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal;
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%;
  }

  to {
    --dot-progress: 100%;
  }
}

@layer utilities {
  :root {
    --animation-time: 40s;
    --animation-direction: forwards;
  }

  .space-between {
    justify-content: space-between;
  }

  .btn-brand {
    background-color: #0066e4;
    color: white;
    border-radius: 30px;
    transition: box-shadow 0.3s ease;

    box-shadow: none;
  }

  .btn-brand:hover {
    box-shadow: inset -10px 0 0px 0px rgba(0, 0, 1, 0.5);
  }

  .bg-transparent {
    background-color: transparent;
  }

  .bg-card {
    background-color: #0a0a0a;
  }

  .fit {
    width: fit-content;
  }

  .m-card {
    margin: 20px auto;
  }

  .custom-border {
    position: relative;
    padding-left: 10px;
  }

  .custom-border::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 4px;
    height: 60%;
    background-color: #0066e4;
  }
  @media (max-width: 767px) {
    .custom-border::before {
      top: 5px;
      height: 80%;
    }
  }

  .custom-border {
    position: relative;
  }

  .visual-brand {
    height: 4px;
    background-color: #0066e4;
    display: block;
  }

  .m-auto {
    margin: auto;
  }

  .scroll-container {
    overflow: hidden;
    margin: 0 auto;
  }

  .scroll-items {
    width: max-content;
    display: flex;
    flex-wrap: nowrap;
    animation: animate-scroll-infinite var(--animation-time)
      var(--animation-direction) linear infinite;
  }

  .scroll-items > li {
    padding: 1em 2em;
  }

  @keyframes animate-scroll-infinite {
    to {
      transform: translateX(calc(-50% - 0.5em));
    }
  }

  .border-gradient {
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  }

  .services-title {
    strong {
      color: #0066e4;
    }
  }

  .animation-right {
    animation: slide-right 50s linear infinite;
  }
  
  .animation-left {
    animation: slide-right 50s linear infinite reverse; 
  }
  
  @keyframes slide-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes slide-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  

  .services-list {
    li {
      gap: 12px;
      color: #717171;
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='10' viewBox='0 0 15 10' fill='none'%3E%3Cpath d='M13.9555 0.948849L4.91845 9.83708C4.866 9.88873 4.8037 9.9297 4.73514 9.95766C4.66657 9.98561 4.59307 10 4.51885 10C4.44462 10 4.37112 9.98561 4.30255 9.95766C4.23399 9.9297 4.17169 9.88873 4.11924 9.83708L0.165523 5.94848C0.0595403 5.84424 0 5.70286 0 5.55545C0 5.40804 0.0595403 5.26666 0.165523 5.16242C0.271505 5.05819 0.415248 4.99963 0.56513 4.99963C0.715012 4.99963 0.858755 5.05819 0.964738 5.16242L4.51885 8.65869L13.1563 0.162796C13.2623 0.0585594 13.406 -1.09831e-09 13.5559 0C13.7058 1.09832e-09 13.8495 0.0585594 13.9555 0.162796C14.0615 0.267034 14.121 0.40841 14.121 0.555823C14.121 0.703236 14.0615 0.844612 13.9555 0.948849Z' fill='%230066E4'/%3E%3C/svg%3E");
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.radio-custom {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #3b82f6; /* Borda azul */
  border-radius: 50%; /* Bordas arredondadas */
  background-color: transparent; /* Fundo transparente quando não selecionado */
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

input[type="radio"]:checked + .radio-custom {
  background-color: #3b82f6; /* Fundo azul quando selecionado */
  border-color: #3b82f6; /* Borda azul quando selecionado */
}

.radio-custom:hover {
  border-color: #2563eb; /* Efeito hover na borda */
}
