@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

@layer utilities {

  :root {
    --animation-time: 40s;
    --animation-direction: forwards;
  }
  .space-between {
    justify-content: space-between;
  }

  .btn-brand {
    background-color: #0066E4;
    color: white;
    border-radius: 30px;
    transition: box-shadow 0.3s ease;

    box-shadow: none;
  }

  .btn-brand:hover {
    box-shadow: inset -10px 0 0px 0px rgba(0, 0, 1, 0.5)
  }

  .bg-transparent {
    background-color: transparent;

  }

  .bg-card {
    background-color: #0A0A0A;
  }

  .fit {
    width: fit-content;
  }

  .m-card {
    margin: 20px auto;
  }

  .custom-border {
    position: relative;
    padding-left: 10px;
  }

  .custom-border::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 4px;
    height: 60%;
    background-color: #0066E4;
  }

  .custom-border {
    position: relative;
  }

  .visual-brand {
    height: 4px;
    background-color: #0066E4;
    display: block;
  }

  .m-auto {
    margin: auto;
  }

  .scroll-container{
    mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    overflow: hidden;
    margin: 0 auto;
  }
  .scroll-items{
    width: max-content;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    animation: animate-scroll-infinite var(--animation-time) var(--animation-direction) linear infinite;
  }
  .scroll-items> li{
    padding: 1em 2em;
  }


  @keyframes animate-scroll-infinite {
    to {
      transform: translateX(calc(-50% - .5em));
    }


  }

  .border-gradient {
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
  }
}